<h1 class="mb-4">Darbinieki</h1>
<ul class="list-group">
  <% @employees.each do |employee| %>
    <li class="list-group-item">
      <strong><%= employee.name %> <%= employee.last_name %></strong> (<%= employee.email %>)
    </li>
  <% end %>
</ul>
