<h2 class="mb-4">Reģistrēties</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'needs-validation', novalidate: true }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="mb-3">
    <%= f.label :vārds, class: 'form-label' %><br />
    <%= f.text_field :name, autofocus: true, class: 'form-control', required: true %>
    <div class="invalid-feedback">Lūdzu ievadiet savu vārdu.</div>
  </div>

  <div class="mb-3">
    <%= f.label :uzvārds, class: 'form-label' %><br />
    <%= f.text_field :last_name, class: 'form-control', required: true %>
    <div class="invalid-feedback">Lūdzu ievadiet savu uzvārdu.</div>
  </div>
    
  <div class="mb-3">
    <%= f.label :e_pasts, class: 'form-label' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: true %>
    <div class="invalid-feedback">Lūdzu ievadiet derīgu e-pasta adresi.</div>
  </div>

  <div class="mb-3">
    <%= f.label :parole, class: 'form-label' %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', required: true %>
    <div class="invalid-feedback">Lūdzu ievadiet paroli.</div>
  </div>

  <div class="mb-3">
    <%= f.label :parole_atkārtoti, class: 'form-label' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', required: true %>
    <div class="invalid-feedback">Lūdzu apstirpiniet savu paroli.</div>
  </div>

  <div class="actions mb-3">
    <%= f.submit "Reģistrēties", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Bootstrap form validation
    (function () {
      'use strict';
      var forms = document.querySelectorAll('.needs-validation');
      Array.prototype.slice.call(forms).forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    })();
  });
</script>
