<h1>Rediģēt velosipēdu</h1>
<%= form_with(model: @bicycle, url: bicycle_path(@bicycle), method: :patch, local: true) do |form| %>
  <% if @bicycle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bicycle.errors.count, "error") %>Nav iespējams saglabāt objektu:</h2>
      <ul>
        <% @bicycle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Rediģēt', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Atpakaļ', bicycles_path, class: 'btn btn-secondary' %>
