<h1 class="mb-4">Velosipēdi</h1>
<ul class="list-group">
  <% @bicycles.each do |bicycle| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= bicycle.name %>
      <% if bicycle.reservations.any? %>
        <span class="badge bg-primary rounded-pill"><%= pluralize(bicycle.reservations.count, 'Rezrevācija') %></span>
      <% else %>
        <span class="badge bg-secondary rounded-pill">Nav rezervāciju</span>
      <% end %>
      <div class="btn-group" role="group" aria-label="Actions">
        <%= link_to 'Edit', edit_bicycle_path(bicycle), class: 'btn btn-secondary btn-sm' %>
        <%= button_to 'Dzēst', bicycle_path(bicycle), method: :delete, data: { turbo_confirm: 'Vai tiešām vēlaties dzēst šo Velosipēdu?' }, remote: true, class: 'btn btn-danger btn-sm' %>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to 'Jauns velosipēds', new_bicycle_path, class: 'btn btn-primary mt-4' %>
