<% if user_signed_in? %>
  <h1 class="mb-4">Sveiki!, 
     <%= current_user.name %> <%= current_user.last_name %>, <%= current_user.email %></h1>
  <%= link_to 'Iziet no profila', destroy_user_session_path, data: { turbo_method: :delete }, class: 'btn btn-danger' %>
<% else %>
  <h1 class="mb-4">Mājas</h1>
  <%= link_to 'Autorizēties', new_user_session_path, class: 'btn btn-primary' %>
<% end %>
