<h1 class="mb-4">Visas rezervācijas</h1>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>Darbinieki</th>
      <th>Velosipēds</th>
      <th>Rezervācijas sākums</th>
      <th>Rezervācijas beigas</th>
      <th>Darbības</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.employee.name %> <%= reservation.employee.last_name %></td>
        <td><%= reservation.bicycle.name %></td>
        <td><%= reservation.start_time %></td>
        <td><%= reservation.end_time %></td>
        <td>
          <% if reservation.employee.user == current_user %>
            <%= link_to 'Rediģēt', edit_reservation_path(reservation), class: 'btn btn-primary btn-sm' %>
            <%= button_to 'Dzēst', reservation_path(reservation), method: :delete, data: { turbo_confirm: 'Vai tiešām vēlaties dzēst šo rezervāciju?' }, remote: true, class: 'btn btn-danger btn-sm' %>
          <% else %>
            <span class="text-muted">Darbības pieejamas tikai rezervācijas veidotājam</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Jauna rezervācija', new_reservation_path, class: 'btn btn-success' %>



