<h1 class="mb-4">Jauna rezervācija</h1>

<%= form_with model: @reservation, local: true, html: { class: 'needs-validation', novalidate: true } do |form| %>
  <div class="mb-3">
    <%= form.label :bicycle_id, "Elektro velosipeds", class: 'form-label' %>
    <%= form.collection_select :bicycle_id, Bicycle.all, :id, :name, {}, { class: 'form-select', required: true } %>
    <div class="invalid-feedback">Lūdzu izvēlieties elektro velosipēdu.</div>
  </div>
  <div class="mb-3">
    <%= form.label :start_time, "Rezervācijas sākuma laiks", class: 'form-label' %>
    <%= form.datetime_local_field :start_time, min: Time.now.strftime("%Y-%m-%dT%H:%M"), max: Time.now.end_of_year.strftime("%Y-%m-%dT%H:%M"), class: 'form-control', required: true %>
    <div class="invalid-feedback">Lūdzu izvēlieties rezervācijas sākuma laiku.</div>
  </div>
  <div class="mb-3">
    <%= form.label :end_time, "Rezervācijas beigu laiks", class: 'form-label' %>
    <%= form.datetime_local_field :end_time, min: Time.now.strftime("%Y-%m-%dT%H:%M"), max: Time.now.end_of_year.strftime("%Y-%m-%dT%H:%M"), class: 'form-control', required: true %>
    <div class="invalid-feedback">Lūdzu izvēlieties rezervācijas beigu laiku.</div>
  </div>
  <%= form.hidden_field :employee_id, value: current_user.employee.id %>
  <div class="mb-3">
    <%= form.submit "Izveidot rezervāciju", class: 'btn btn-primary' %>
  </div>
<% end %>

<!-- Flash Messages Container -->
<div id="flash-messages" class="container mt-3">
  <% flash.each do |key, message| %>
    <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show" role="alert">
      <%= message %>
      <button type="button" class="btn-close close-flash" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>

<!-- Tiek noņemtas sekundes un milisekundes, tiek atrasts laiks tagad, lai varētu noteikt esošo gadu, 
jo lietotājam nav atļauts atzīmet pagātnes datumu vai citu gadu kāds ir tagad -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const now = new Date().toISOString().slice(0, 16);
    const endOfYear = new Date(new Date().getFullYear(), 11, 31, 23, 59).toISOString().slice(0, 16);

    const startTimeInput = document.querySelector('input[name="reservation[start_time]"]');
    const endTimeInput = document.querySelector('input[name="reservation[end_time]"]');

    startTimeInput.setAttribute('min', now);
    startTimeInput.setAttribute('max', endOfYear);
    endTimeInput.setAttribute('min', now);
    endTimeInput.setAttribute('max', endOfYear);

    startTimeInput.addEventListener('input', (event) => {
      const selectedDate = new Date(event.target.value);
      if (selectedDate < new Date()) {
        alert('Lūdzu, izvēlieties nākotnes datumu.');
        event.target.value = '';
      }
    });

    endTimeInput.addEventListener('input', (event) => {
      const selectedDate = new Date(event.target.value);
      if (selectedDate < new Date()) {
        alert('Lūdzu, izvēlieties nākotnes datumu.');
        event.target.value = '';
      }
    });
  });
</script>
