<h2 class="mb-4">Autorizēties</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'needs-validation', novalidate: true }) do |f| %>
  <div class="mb-3">
    <%= f.label :epasts, class: 'form-label' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: true %>
    <div class="invalid-feedback">Ievadiest derīgu e-pasta adresi.</div>
  </div>

  <div class="mb-3">
    <%= f.label :parole, class: 'form-label' %>
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', required: true %>
    <div class="invalid-feedback">Ievadiet paroli.</div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="mb-3 form-check">
      <%= f.check_box :remember_me, class: 'form-check-input' %>
      <%= f.label :atcerēties_mani, class: 'form-check-label' %>
    </div>
  <% end %>

  <div class="actions mb-3">
    <%= f.submit "Autorizēties", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Bootstrap form validation
    (function () {
      'use strict';
      var forms = document.querySelectorAll('.needs-validation');
      Array.prototype.slice.call(forms).forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    })();
  });
</script>
