<!DOCTYPE html>
<html>
<head>
  <title>E-Bike</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="<%= root_path %>">Ebike</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to 'Darbinieki', employees_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Velosipēdi', bicycles_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Rezervācijas', reservations_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Jauna rezervācija', new_reservation_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Flash Messages -->
  <div id="flash-messages" class="container mt-3">
    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="btn-close close-flash" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  </div>

  <div class="container mt-3">
    <%= yield %>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const flashMessages = document.getElementById('flash-messages');
      if (flashMessages) {
        setTimeout(() => {
          flashMessages.style.display = 'none';
        }, 5000); // 5-second timer
      }

      // Close flash messages
      document.querySelectorAll('.close-flash').forEach(button => {
        button.addEventListener('click', () => {
          button.parentElement.style.display = 'none';
        });
      });
    });
  </script>
</body>
</html>
